header {
  padding: 1rem;
  background: #ddd;
  box-shadow: 0px 4px 12px 0px #434242;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fa-heart {
  color: rgb(129, 3, 3);
}

.logo-container {
  font-size: 2rem;
}

.api-details {
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.search-form {
  align-self: center;
  text-align: center;
  .search-value {
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid #474747;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    &::placeholder {
      font-weight: 300;
    }
  }
}