.repos-follower-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.repos-container{
  padding-left: 1rem;
}

.repos-header {
  font-size: 1.5rem;
  padding-left: 1rem;
  margin: 1rem 0;
}

.repo-container {
  padding: 1rem 0;
  padding-bottom: 2rem;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.repo-header {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  a {
    color: #037777;
  }
}

.repo-detail-section {
  position: absolute; 
  bottom: 5%;
}

.repo-description {
  margin: 0.5rem 0;
}

.repo-honour{
  font-weight: 300;
  margin: 0 0.5rem;
}
